<table class="table table-advance table-hover table-striped table-checkable order-column">
    <thead>
        <tr>
            <th width='1%'>
                <%= erp_datalist_check_all %>
            </th>
            <% if get_columns(params).include?("image") %>
                <th width='15%'><%= t('image') %></th>
            <% end %>
            <% if get_columns(params).include?("name") %>
                <th class="sortable" sort-by='erp_products_brands.name'>
                    <%= t('.name') %>
                </th>
            <% end %>
            <% if get_columns(params).include?("category") %>
                <th>
                    <%= t('.category') %>
                </th>
            <% end %>
            <% if get_columns(params).include?("status") %>
                <th><%= t('status') %></th>
            <% end %>
            <% if get_columns(params).include?("creator") %>
                <th><%= t('creator') %></th>
            <% end %>
            <% if get_columns(params).include?("created_at") %>
                <th class="sortable" sort-by='erp_products_brands.created_at'>
                    <%= t('created_at') %>
                </th>
            <% end %>
            <th width="7%"><%= t('actions') %></th>
        </tr>
    </thead>
    <tbody>
        <% @banners.each do |banner| %>
            <tr class="odd gradeX">
                <td>
                    <%= erp_datalist_check_row(id: banner.id) %>
                </td>
                <% if get_columns(params).include?("image") %>
                    <td>
                        <%= erp_component('image', {
                            object: banner
                        }) %>
                    </td>
                <% end %>
                <% if get_columns(params).include?("name") %>
                    <td>
                        <%= link_to banner.name, erp_banners.edit_backend_banner_path(banner), class: 'title' %>                        
                    </td>
                <% end %>
                <% if get_columns(params).include?("category") %>
                    <td>
                        <%= link_to banner.category_name %>                        
                    </td>
                <% end %>
                <% if get_columns(params).include?("status") %>
                    <td>
                        <% if banner.archived == true %>
                            <span class="label label-sm label-danger"><%= t('archived') %></span>
                        <% else %>
                            <span class="label label-sm label-success"><%= t('active') %></span>
                        <% end %>
                    </td>
                <% end %>
                <% if get_columns(params).include?("creator") %>
                    <td>
                        <%= erp_component('avatar', {
                            user: banner.creator
                        }) %>
                    </td>
                <% end %>
                <% if get_columns(params).include?("created_at") %>
                    <td><%= banner.created_at.strftime("%d/%m/%Y") %></td>
                <% end %>
                <td class="text-right">
                    <%= erp_datalist_row_actions(
                        [
                            {
                                text: '<i class="fa fa-edit"></i> '+t('edit'),
                                href: erp_banners.edit_backend_banner_path(banner)
                            },
                            {
                                text: '<i class="fa fa-eye-slash"></i> '+t('archive'),
                                url: erp_banners.archive_backend_banners_path(id: banner),
                                data_method: 'PUT',
                                hide: banner.archived,
                                class: 'ajax-link',
                                data_confirm: t('.archive_confirm')
                            },
                            {
                                text: '<i class="fa fa-eye"></i> '+t('unarchive'),
                                url: erp_banners.unarchive_backend_banners_path(id: banner),
                                data_method: 'PUT',
                                hide: !banner.archived,
                                class: 'ajax-link',
                                data_confirm: t('.unarchive_confirm')
                            },
                            {
                                divider: true
                            },
                            {
                                text: '<i class="fa fa-trash"></i> '+t('.delete'),
                                url: erp_banners.backend_banner_path(banner),
                                data_method: 'DELETE',
                                class: 'ajax-link',
                                data_confirm: t('delete_confirm')
                            }
                        ]
                    ) %>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>
<% if @banners.empty? %>
    <div class="datalist-empty-line"><%= t('.no_matching_records_found') %></div>
<% end %>
        
<%= erp_datalist_pagination(@banners) %>